@font-face {
	font-family: Roboto;
	/*src: url("../assets/Fuentes/Roboto_Mono/RobotoMono-Medium.ttf");*/
	src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Roboto-Regular, monospace;
}
/*Header Section*/

a {
	text-decoration: none;
	display: inline;
	color: black;
	font-family: Roboto, serif;
}

header {
	width: 100%;
	height: 130px;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
	width: 100%;
	height: 3rem;
	display: grid;
	background-color: #47cfac;
}

header .header-icons-container .icons {
	width: auto;
	height: auto;
	display: flex;
	justify-items: flex-end;
	align-items: center;
	justify-content: space-between;
	justify-self: end;
	margin-right: 1rem;
}

header .header-icons-container .icons span {
	margin-right: 10px;
	color: white;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: auto;
}

nav .nav-logo-container {
	margin-left: 50px;
}

nav .nav-logo-container img {
	width: 220px;
	margin-top: 10px;
}

nav .profile-link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 50px;
}

nav .profile-link a {
	color: black;
	border-bottom: 1px solid black;
}

/*BLOG SECTION (MAIN NOTICE)*/

.main-container {
	max-width: 1280px;
	margin: 0 auto;
}

.hero-notice-container {
	width: 100vw;
	height: 500px;
	display: grid;
	grid-template-columns: 1fr 750px;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		"title title"
		"image description";
	background-color: #ccd1d9;
}

.hero-notice-topic {
	grid-area: title;
	display: flex;
	align-items: center;
	margin-left: 70px;
}

.hero-notice-image {
	margin-left: 70px;
	grid-area: image;
}

.hero-notice-image img {
	width: 800px;
	height: 425px;
	border-radius: 10px;
}

.hero-notice-content {
	grid-area: description;
	display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-notice-content h2 {
	font-size: 60px;
	margin-bottom: 20px;
}

.hero-notice-content p {
	width: 95%;
	margin-bottom: 20px;
	text-align: justify;
}

.hero-notice-button {
	padding: 14px;
	background-color: transparent;
	border: 5px solid #61f2f5;
	width: 140px;
}

/*BLOG ARTICLES*/

.blogpost-container {
	width: 100vw;
	height: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(300px, auto);
	display: grid;
	grid-gap: 2.5rem;
}

.blogpost-container-title {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
	margin-top: 20px;
}


.blogpost-article {
	border-radius: 10px;
	width: 400px;
	/* box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);; */
	height: auto;
}

.blogpost-article-image img {
	border-radius: 10px;
}

.blogpost-article-title {
	margin-top: 10px;
}

.blogpost-article-description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blogpost-article-button {
	padding: 10px;
	background-color: transparent;
	border: 3px solid #61f2f5;
	width: 130px;
	margin-left: 110px;
}

/*Footer*/

.footer-greenpart {
	width: 100vw;
	margin-top: 30px;
	height: 20px;
	background-color: #47cfac;
}

.footer-letter {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	width: 100vw;
	height: 50px;
	color: white;
	background-color: #23282d;
}
