@font-face {
  font-family: Roboto;
  /*src: url("../assets/Fuentes/Roboto_Mono/RobotoMono-Medium.ttf");*/
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto-Regular, monospace;
}

/*Header Section*/

a {
  text-decoration: none;
  display: inline;
  color: black;
  font-family: Roboto-Regular, monospace;
  font-weight: 600 !important;
}

header {
  width: 100%;
  height: 130px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 3rem;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: auto;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 1rem;
}

header .header-icons-container .icons span {
  margin-right: 10px;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

nav .nav-logo-container {
  margin-left: 50px;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 80px;
}

nav .profile-link a {
  font-family: Roboto-Regular, monospace;
  font-weight: 400;
  color: black;
  border-bottom: 1px solid black;
}

/*Main Section*/

.hero-container {
  width: 100vw;
  height: auto;
  display: flex;
  padding: 5%;
  background-color: #ccd1d9;
}

.hero-image-container img {
  width: 400px;
  margin-right: 4rem;
}

.hero-description-container {
  display: flex;
  flex-direction: column;
}

.hero-image-title h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.hero-image-description p {
  font-size: 20px;
}
.hero-image-description {
  text-align: justify;
}

/*Projects section*/

.main-projects-container {
  max-width: 1530px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #656d78;
  margin-bottom: 2rem;
  height: 10rem;
}

.article-container p {
  margin-top: 2rem;
}

.projects-container {
  display: grid;
  /* grid-template-rows: minmax(200px, auto); */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.projects-container h3 {
  font-size: 25px;
}

/*Contact Section*/

.main-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 15rem;
  margin-top: 40px;
  background-color: #ccd1d9;
}

.contact-container {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.contact-container-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.contact-container-text a {
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 1rem;
}

.contact-image img {
  width: 150px;
}

.write-image img {
  width: 150px;
}

/*Footer Section*/

.footer-greenpart {
  width: 100vw;
  /* margin-top: 30px; */
  height: 20px;
  background-color: #47cfac;
}

.footer-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 100vw;
  height: 50px;
  color: white;
  background-color: #23282d;
}
