@font-face {
  font-family: Roboto;
  /*src: url("../assets/Fuentes/Roboto_Mono/RobotoMono-Medium.ttf");*/
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto-Regular, monospace;
}

/*Header Section*/

a {
  text-decoration: none;
  display: inline;
  color: black;
  font-family: Roboto, serif;
}

header {
  width: 100%;
  height: 130px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 3rem;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: auto;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  /* justify-self: end; */
  margin-right: 1rem;
}

header .header-icons-container .icons span {
  margin-right: 10px;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

/*Main Section*/

main {
  max-width: 375px;
}

.container {
  margin: 0 auto;
  /* width: 350px; */
  padding: 5%;
}

.main-hero-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: #ccd1d9;
  text-align: center;
}

.hero-image-container img {
  width: 300px;
}

.hero-description span {
  font-weight: 600;
  font-size: 35px;
  /* margin-bottom: 1rem; */
}

/*Projects section*/

/*Contact Section*/

.main-contact-container {
  display: grid;
  width: 100vw;
  margin-top: 40px;
  background-color: #ccd1d9;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  height: auto;
  margin: 0 auto;
  padding: 5%;
}

.contact-container {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.contact-container-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.contact-container-text a {
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 1rem;
}

.contact-image img {
  width: 150px;
}

.write-image img {
  width: 150px;
}

.separator {
  /* height: 3rem; */
  border-bottom: 2px solid #ccd1d9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw !important; */
  margin-left: 1rem;
  margin-right: 1rem;
}

.separator p {
  font-weight: 600;
  font-size: 20px;
}

.articles-container {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.article-container {
  text-align: justify;
}

.article-container h3 {
  margin-bottom: 1rem;
}

/*Footer Section*/

.footer-greenpart {
  width: 100vw;
  /* margin-top: 30px; */
  height: 20px;
  background-color: #47cfac;
}

.footer-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 100vw;
  height: 50px;
  color: white;
  background-color: #23282d;
  text-align: center;
}

@media (min-width: 414px) {
  main {
    max-width: 414px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 768px;
  }

  .hero-image-container img {
    width: 500px;
  }

  .hero-image-container {
    padding: 0%;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1024px;
  }

  .main-hero-container {
    grid-template-columns: 1fr 1fr;
    text-align: justify;
  }

  .hero-image-container img {
    width: 415px;
  }

  .hero-description {
    padding: 9%;
  }

  .articles-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
  }

  .main-contact-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  main {
    max-width: 1440px;
  }

  .articles-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
